/src
/.github
/docs
node_modules
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.prettierrc
package-lock.json
tsconfig.json
yarn.lock
yarn-error.lock
jest.config.js
index.html
postcss.config.js
babel.config.js
.browserslistrc
.vscode
tailwind.config.js
vite.config.js
