
.spinning {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.spinning > svg {
  width: 16px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  text-decoration: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 99;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip > svg {
  max-width: 16px;
}
.tooltip__label {
  color: mediumseagreen;
  cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
  min-width: 250px;
  max-width: 50%;
  border-radius: 6px;
  min-height: 80px;
  height: fit-content;
  max-height: 50%;
}
.modal-body {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.gist-sync {
  padding: 16px;
  margin: auto;
  position: relative;
}
.gist-sync > div:not(.gist-sync__actionBtns) {
  justify-content: space-between;
}

.gist-sync > div {
  padding-top: 10px;
  display: flex;
}
.gist-sync * {
  outline-color: #37a0ea;
}

.gist-sync > div > input {
  max-width: 250px;
  padding: 2px 5px;
}
.gist-sync > div > select {
  max-width: 250px;
  padding: 2px 5px;
}

.gist-sync__actionBtns {
  display: flex;
  justify-content: center;
}

.gist-sync__actionBtns > button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid;
  cursor: pointer;
  margin: 5px;
}

.gist-sync__downloadBtn {
  background: none;
  color: cornflowerblue;
}

.gist-sync__uploadBtn {
  background: none;
  color: cadetblue;
}

.gist-sync__uploadBtnIcon,
.gist-sync__downloadBtnIcon {
  /* padding-right: 6px; */
  width: 30px;
}
